html{
    background-color: magenta;
}
body{
    border: 2px solid red;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: #00ff77;
}
h1{
    text-align: center;
}
input#botao01{
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    background: linear-gradient(to right, white, magenta);
}
input#botao02{
    height: 50px;
    float: right;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid black;
    background: linear-gradient(to right, white, magenta);
}
section#res{
    font-size: 18px;
}
a.prev{
    float: left;
    text-decoration: none;
    color: black;
    text-align: center;
}
a.next{
    float: right;
    text-decoration: none;
    color: black;
    text-align: center;
}