/** Área Botão **/
.area-botao {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .botao {
        height: 50px;
        font-size: 16px;
        margin-right: 10px;
        padding: 5px;
        background-color: #FFAA0D;

        &:last-child {
            margin-right: none;
        }
    }
}